:root {
  --dark-gray: #666;
  --medium-gray: #888;
  --light-gray: #999;
  --light-yellow: #ffffb3;
  --dark-yellow: #ffff66;

  --border-radius: 3px;
}


.Note {
  height: 230px;
  position: relative;
  color: var(--medium-gray);
  background-color: var(--light-yellow);
  border-radius: var(--border-radius);
  box-shadow: 0 6px 15px rgba(136, 136, 136, 8%);
}

.header {
  height: 30px;
  background-color: var(--dark-yellow);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.task {
  padding: 0.63em;
}

.deleteBtn {
  width: auto;
  font-size: 1.25em;
  position: absolute;
  right: 10px;
  top: 2px;
  color: var(--light-gray);
  background-color: var(--transparent);
  border: none;
}

.deleteBtn:hover {
  cursor: pointer;
  color: var(--dark-gray);
}

h4 {
  color: var(--dark-gray);
  margin: 0;
}
