:root {
  --dark-gray: #444;
  --medium-gray: #666;
  --beige: #f5f5dc;

  --font-size: 1rem;
  --bg-transparent: transparent;
  --txt-uppercase: uppercase;
  --display-flex: flex;
}

* {
  box-sizing: border-box;
}

.App {
  font-family: "Lucida Sans", sans-serif;
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
}

h1 {
  text-transform: var(--txt-uppercase);
  margin: 0;
  padding: 0.6em;
  color: var(--beige);
  background-color: var(--dark-gray);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.form {
  width: 35%;
  min-height: calc(100vh - 77px);
  display: var(--display-flex);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 4em 0;
  color: var(--beige);
  background-color: var(--medium-gray);
  box-shadow: 0 0 6px rgba(51, 51, 51, 0.7) inset;
}

h2 {
  margin-bottom: 2.5em;
  text-transform: var(--txt-uppercase);
}

input {
  width: 75%;
  height: 30px;
  font-family: inherit;
  font-size: var(--font-size);
  margin-bottom: 2.5em;
  padding: 0.5em 1em 0;
  border: none;
  border-bottom: 1px solid var(--beige);
  color: var(--beige);
  background-color: var(--bg-transparent);
}

input::placeholder {
  color: var(--beige);
}

input:focus {
  outline: none;
  box-shadow: 0px 0px 0px 1px var(--beige);
}

.addBtn {
  width: 75%;
  font-family: inherit;
  font-size: var(--font-size);
  padding: 0.85em;
  margin-top: 1em;
  color: var(--beige);
  background-color: var(--bg-transparent);;
  border: 1px solid var(--beige);
  border-radius: 25px;
}

.addBtn:hover {
  cursor: pointer;
  color: var(--medium-gray);
  background-color: var(--beige);
}

.notes {
  width: 65%;
  min-height: calc(100vh - 77px);
  box-shadow: 0 0 6px rgba(51, 51, 51, 0.5) inset;
  padding: 2.25em 1.5em;
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}


@media (max-width: 992px) {
  .container {
    flex-direction: column;
  }

  .form,
  .notes {
    width: 100%;
  }

  .form {
    min-height: 390px;
  }

  h2 {
    margin-top: 0;
  }

  input,
  .addBtn {
    width: 50%;
  }
  
}

@media (max-width: 768px) {
  input,
  .addBtn {
    width: 75%;
  }
}

@media (max-width: 548px) {
  .notes {
    padding: 2.25em 4.5em;
  }
}